:root {
  --header-height: 30px;
  --softblue:#005AFF;
  --unigreen: #03AF7A;
  --unilblue:#4DC4FF;
}

html,
header {
  left: 50px;
  width: 100%;
  height: var(--header-height);
  background-color: #494949;
  border-top: none;
}

.headline {
  left: 50px;
  color: #6F6F6F;
  font-size: 16px;
}

body {
  font-size: 16px;
  height: 100rem;
  margin: none;
}

svg {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 500rem;
  height: 1000rem;
  z-index: 2;
}

.generator {
  position: absolute;
  top: 20rem;
  margin: 0 auto;
  width: 100%;
}

.generator__generate-code-btn {
  position: relative;
  margin: 0 auto;
  top: 0rem;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  height: 2rem;
  width: 10rem;
  color: white;
  background-color: var(--unigreen);
  border-radius: 5%;
  z-index: 10;
  text-align: center;
}

.generator__generated-code {
  margin: 0 auto;
  width: 90%;
}

.block {
  overflow: hidden;
  height: 100%;
  text-align: center;
  margin: none;
}

.block__nodeselector {
  float: left;
  position: relative;
  height: 100%;
  width: 20rem;
  color: #6F6F6F;
  background-color: #3F3F3F;
}

.block__add-node--operation {
  position: absolute;
  margin: auto;
  top: 5rem;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  height: 2rem;
  width: 10rem;
  color: white;
  background-color: var(--softblue);
  border-radius: 5%;
  z-index: 10;
  text-align: center;
}

.block__codearea {
  color: #6F6F6F;
  text-align: center;
  position: relative;
  float: right;
  width: calc(100% - 20rem);
  background-color: #262626;
  height: 100%;
  z-index: 1;
}

.operation-node {
  height: 200px;
  width: 500px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 30px 100px 30px;
      grid-template-rows: 30px 30px 100px 30px;
  z-index: 10;
}

.operation-node__function-name {
  background-color: var(--unilblue);
  width: 20%;
  height: 100%;
  display: table;
}

.operation-node__function-name-text-area {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  height: 60%;
  margin: 0 auto;
}

.operation-node__input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

.operation-node__input-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  background-color: #03AF7A;
  width: 20%;
  height: 100%;
}

.operation-node__input-pin-area--immutable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.operation-node__add-input-btn {
  width: 10%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  background-color: gray;
}

.operation-node__input-pin {
  width: 30%;
  height: 100%;
  display: table;
  border-right: dotted;
  background-color: var(--softblue);
  position: relative;
  text-align: center;
}

.operation-node__input-pin-btn {
  background-color: #9CDCFE;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
}

.operation-node__input-pin-info {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  height: 60%;
  margin: 0 auto;
  color: white;
}

.operation-node__input-pin-type {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  height: 60%;
  margin: 0 auto;
  color: white;
}

.operation-node__text-area {
  background-color: #F2F2F2;
  width: 100%;
  z-index: 100;
}

.operation-node__output-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

.operation-node__output-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  background-color: #03AF7A;
  width: 20%;
  height: 100%;
}

.operation-node__output-pin-area--immutable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.operation-node__add-output-btn {
  width: 10%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  background-color: gray;
}

.operation-node__output-pin {
  width: 30%;
  height: 100%;
  display: table;
  border-right: dotted;
  background-color: var(--softblue);
  position: relative;
}

.operation-node__output-pin-btn {
  background-color: #9CDCFE;
  position: absolute;
  top: 20px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
}

.operation-node__output-pin-info {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  height: 60%;
}

.operation-node__output-pin-type {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  height: 60%;
}

.operation-node__delete-pin-btn {
  position: absolute;
  background-color: red;
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/*# sourceMappingURL=index.css.map */